<h1>New sushi_text</h1>

<% form_for(@sushi_text) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lang %><br />
    <%= f.select(:lang, locales) %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :sushi_id %><br />
	<%= f.select(:sushi_id, sushi_id_list) %>
  </p>
  <p>
    <%= f.label :code %><br />
	<%= f.select(:code, sushi_codes) %>
	<% puts @sushis %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sushi_texts_path %>